* {
    box-sizing: border-box;
}
.button-class{
    /* overwrites browser defoults and reset the border */
    
    display: inline-block;
    /*Take the font from the outer container(In this case its the body)*/
    font-family: inherit;
    /* Styles the background color, font color and text decoration of the botun*/
    background-color:#4caf50;
    color: black;
    border: 2px solid green;
    cursor: pointer;
    text-decoration: none;
    /* adds spacing to the button*/
    padding: 10px 32px;
    border-radius: 3px;
    font-size: 16px;
    margin: 4px 2px;
    /*gives the button a bottom border with a width of 2 px
    of solid, and a color in RGBA format*/
    /*border-bottom: 2px solid rgba(0, 0, 0, 0.3);*/
    /* duration and property transitions*/
    transition: 0.2s opacity;
}
.pokemon-list{
  list-style-type: none;
}


body {
  font-family: Arial, sans-serif;
}

#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  
  /* to show it above other content */
  z-index: 999;
  
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
  
  /* this is used to center the modal */
  display: grid;
  text-align: center;
}


.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

#show-modal {
  display: block;
  
}
#modal-container {
  display: none;
}

#modal-container.is-visible {
  /* CSS for modal container - add your own desired CSS styles here */
  display: block;
  padding: 50px;
  overflow: auto;
}
img {
  display: block;
  margin: auto;
  width: auto;

}