 p{
   background-color:aquamarine;
 }

 h1 {
   color: green;
 }
 
 body {
  font-family:'Franklin Gothic Medium'; 
  font-size: 20px;
  padding: 20px;
 }

 .btn-primary {
   width: 25%;
   border-top-left-radius: 20px;
   border-bottom-right-radius: 20px;
 }

 .list-group{
  text-align: center;
 width: auto;
  margin: 20px  auto;
 }